% extends "base.html" %}
{% block content %}

<div class="col-md-6">
    <h2>Please log in to use the Profiler</h2>

    <form action="#" method="POST">
        <span>Username:</span>
        <div class="input-group">
	        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    	    <input type="text" name="username" class="form-control" placeholder="Username" />
        </div>
        <span>Password:</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Password" />
        </div>
            <input type="submit" class="btn btn-success" value="Log in" />
    </form>
</div>

{% endblock %}