{% extends "base.html" %}
{% block content %}

  <h1> {{lab.name}} </h1>

  <p>{{lab.equipment}}</p>

  <p>{{lab.contactPerson}}</p>

  <p> A CALENDAR HERE?? </p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d999.0591161089994!2d24.953250148571534!3d60.175497107743915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63d0329f89d87c0a!2sPsychologicum!5e0!3m2!1sfi!2sfi!4v1486044352571" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  <p>{{lab.directions}}</p>

{% endblock %}