{% extends "base.html" %}
{% block content %}

<h1>Edit a time slot</h1>

<h3> Current information </h3>

<p class="bg-primary">
  Experiment: 
  {% for exp in experiments %}
  {% if exp.id == timeSlot.experiment_id %}
  {{exp.name}},
  {% endif %}
  {% endfor %}
   Laboratory:
  {% for lab in labs %}
  {% if lab.id == timeSlot.laboratory_id %}
  {{lab.name}},
  {% endif %}
  {% endfor %}
   Start time: {{timeSlot.startTime}}, End time: {{timeSlot.endTime}},
   Max reservations: {{timeSlot.maxReservations}}
</p>

<h3> Enter new information </h3>
<form id="form" method="POST" action="{{base_path}}/timeslots/{{timeSlot.id}}">
  <div class="col-md-1">
    <div class="form-group">
      <label for="day">Day</label>
      <select class="form-control" id="day" name="day">
        {% for i in 1..31 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label for="m">Month</label>
      <select class="form-control" id="m" name="month">
        {% for i in 1..12 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label for="y">Year</label>
      <input class="form-control" id="y" name="year" value="2017" readonly />
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label for="t">Time</label>
      <select class="form-control" id="t" name="time">
        {% for i in 7..20 %}
        <option value="{{i}}:00">{{i}}:00</option>
        <option value="{{i}}:30">{{i}}:30</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label for="d">Duration</label>
      <select class="form-control" id="d" name="duration">
        <option value="0 hours 30 minutes">0:30</option>
        {% for i in 1..6 %}
        <option value="{{i}} hours 00 minutes">{{i}}:00</option>
        <option value="{{i}} hours 30 minutes">{{i}}:30</option>
        {% endfor %} 
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="lab">Select Lab:</label>
      <select class="form-control" id="lab" name="laboratory_id">
        {% for lab in labs %}
        <option value="{{lab.id}}">{{lab.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="exp">Select Experiment:</label>
      <select class="form-control" id="exp" name="experiment_id">
        {% for exp in experiments %}
        <option value="{{exp.id}}">{{exp.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="reservation">Max reservations:</label>
      <input type="number" class="form-control" min="0" id="reservation" name="maxReservations" value="1">
    </div>
  </div>
  <div class="col-md-12">
    <input id="button" type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>

{% endblock %}