{% extends "base.html" %}
{% block content %}

<div class="col-md-6">
  <h2> All users in the system </h2>

  <ul class="list-group">
      {% for user in users %}
            <li class="list-group-item"> <a href="#{{user.id}}"  data-toggle="collapse">{{user.name}}: {{user.email}}</a>
              <div id="{{user.id}}" class="collapse">
                <ul class="list-group">
                  {% for exp in experiments[user.id] %}
                    <a href="{{base_path}}/experiment/{{exp.id}}/timeslots" class="list-group-item">{{exp.name}}</a>
                  {% endfor %}
                </ul>
              </div>
            </li>
      {% endfor %}
    </ul>

{% endblock %}